body
{
    background-color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative;
    
    
    background-color: #333333;
    text-align: center;
    overflow: hidden;
}





/*Outer Container*/
.container
{
   
   
    min-height: 30vh;
   
    margin-left: 30vh auto;
    
    position: absolute;
    padding: 5vh;
    display: flex;
    flex-direction: row;
}

/*Inner Container*/
.container .box
{
    background-color: #030202;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    width: 50vh;
    min-height: 30vh;
    margin: 3vh;
    justify-content: 5vh;

}


/* hover */
.container .box:hover
{
    transition: all 0.5s ease;
    background-color: #ffffff;
    color: #030202;
}


/* card */
.container .box .card
{
    background-color: #120f0f;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}

/* hover inner container without messing with card*/
.container .box:hover .card
{
    transition: all 1.5s ease;
    background-color: #a2a2a2;
    color: #030202;
    border-radius: 34vh;

}
/* hover inner container without messing with h1*/
.container .box:hover h1
{
    transition: all 1.5s ease;
    color: #000000;
}
.container .box:hover .card:hover
{
    transition: all 0.5s ease;
    background-color: #ffffff;
    color: #030202;
}